:root {
  --main-bg-color: #202328;
  --font-s-color: #ff6666;
  --ff: 'Ubuntu', sans-serif;
  --fs-weight-bold: 700;
  --ff-weight-normal: 500;
  --ff-weight-tin: 400;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--ff);
  color: white;
}

h1 {
  font-weight: var(--fs-weight-bold);
}

h2 {
  font-weight: var(--fs-weight-bold);
}

h3 {
  font-weight: var(--fs-weight-bold);
}

p {
  font-weight: var(--fs-weight-normal);
  color: var(--font-s-color);
}

a {
  color: white;
}

a:visited {
  color: white;
}

.button-index:hover,
.button-style:hover,
.button-index:focus,
.button-style:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* educes the opacity of the button to 80% */
  opacity: 0.5;
}

.button-index {
  text-decoration: none;
  background-color: var(--font-s-color);
  border: 1px;
  border-style: solid;
  padding: 10px;
  transition: 0.2s opacity;
}

.button-recipes {
  text-decoration: none;
  background-color: inherit;
  border: 1px;
  border-style: solid;
  padding: 10px;
  transition: 0.3s opacity;
}

.page-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  margin-top: 50px;
}

.page-profile__title {
  margin-top: 120px;
  margin-right: 200px;
}

.page-profile__portrait {
  max-width: 300px;
  margin-top: 55px;
}

.page-profile__button {
  margin-top: 1px;
}

.page-recipes__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.page-pokemon__ball {
  max-width: 100px;
  margin-right: 80px;
  margin-top: 40px;
}

.page-recipes__button {
  margin-left: 70px;
  margin-top: 70px;
  margin-bottom: auto;
}

/*JavaScript Elements under*/
.button-style {
  color: white;
  background-color: var(--font-s-color);
  padding: 30px;
  border: 1px;
  border-style: solid;
  margin: 2px;
  cursor: pointer;
  transition: 0.3s opacity;
  width: 90%;
  height: 90%;
}

/*UNDER STARTS the showModal()*/

#modal-container {
  display: none;
}
/*Under the Modal after clicked*/
#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*Under the modal window where is located the information*/
.modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgb(58,64,73);
  width: 30%;
  height: 60%;
  border: 1px;
  border-style: solid;

}
/*Under modal close button "X"*/
.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.modal h1 {
  margin-top: 0;
  color: white;
  margin-top: 10px;
}

.modal p {
  margin-bottom: 0;
  color: white;
}

.modal img {
  width: 50%;
}
/*END OF the showModal()*/

/*Under pokemon list of buttons*/
@supports (display: grid) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    align-items: center;
    list-style-type: none;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: RGB(58, 65, 73, 0.5);
    border: 1px;
    border-style: solid;
    border-color: var(--font-s-color);
  }


}

/*Under starts media where synronization with smaller screens are maded*/
@media all and (max-width: 500px){
  .page-profile {
    display: flex;
    flex-direction: column;
  }

  .page-profile__portrait {
    max-width: 200px;
    margin: auto;
    margin-top: 60px;
  }

  .page-profile__title {
    margin: auto;
    text-align: center;
  }

  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;

  }

  .button-style {
    width: 86%;
  }

  .modal {
    width: 70%;
    height: 40%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){}

@media all and (max-width: 750px){}
