:root {
  --main-bg-color: #063852;
  --main-bg-color-secondary: #011A27;
  --font-s-color: #ff6666;
  --ff: 'Ubuntu', sans-serif;
  --fs-weight-bold: 700;
  --ff-weight-normal: 500;
  --ff-weight-tin: 400;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--ff);
  color: white;
}

h1 {
  font-weight: var(--fs-weight-bold);
}

h2 {
  font-weight: var(--fs-weight-bold);
}

h3 {
  font-weight: var(--fs-weight-bold);
}

p {
  font-weight: var(--fs-weight-normal);
}

.page-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding-top: 160px;
  padding-bottom: 40px;
}

.page-title {
  color: #e6df44;
}
/*
.page-profile__title {
  margin-top: 150px;
  margin-right: 200px;
}


.page-profile__portrait {
  max-width: 300px;
  margin-top: 55px;
}
*/

.navbar-bg {
  background-color: var(--main-bg-color-secondary);
}

.modal-content {
  background-color: white;
}

.modal-title {
  color: var(--main-bg-color);
  text-transform: uppercase;
}

.modal-body {
  color: var(--main-bg-color);
}

.modal-img {
  margin-left: 120px;
}

.btn-modal {
  color: white;
  border-color: white;
}

.btn-modal:hover{
  color: var(--main-bg-color-secondary);
  background-color: #e6df44;
}

.btn-search {
  color: #e14b56
}

.btn-search:hover {
  color: var(--main-bg-color-secondary);
}
/*END OF the showModal()*/

/*Under pokemon list of buttons*/

@supports (display: grid) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    align-items: center;
    list-style-type: none;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #011A27;
    border: 1px;
    border-style: solid;
    border-color: #e6df44;
  }


}

.page-footer {
  margin: 50px;
}

/*Under starts media where synronization with smaller screens are maded*/
@media all and (max-width: 500px){
  .page-profile {
    display: flex;
    flex-direction: column;
  }

  .page-profile__portrait {
    max-width: 200px;
    margin: auto;
    margin-top: 60px;
  }

  .page-profile__title {
    margin: auto;
    text-align: center;
  }

  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;

  }

  .button-style {
    width: 86%;
  }

  .modal {
    width: 70%;
    height: 40%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){}

@media all and (max-width: 750px){}
